# Token from your bot. Required
BOT_TOKEN=

# Google Custom Search API Key. Required
GCS_KEY=

# Google Custom Search Engines' ID. Required
GCS_ENGINE_ID=

# Use web hooks or not.
# true/false
# Optional. Default: false
WEB_HOOKS=false

# Use only if you are using WebHooks.
# Url that server will use for WebHooks.
# You should config it in your bots settings
# and then set it here. Should be secret,
# for example, can contain your BOT_TOKEN.
WEB_HOOKS_SECRET_URL=

# Use only if you are using WebHooks.
# The path from your WEB_HOOKS_SECRET_URL
WEB_HOOKS_PATH=

# Socks proxy url to use.
# Leave it empty if you are not using socks proxy.
# Helpfull in regions, where telegram is blocked.
# Optional
SOCKS_PROXY=


